<h1>Clientes Físicos</h1>

<table class="table">
  <thead>
    <tr>
      <th>CPF</th>
      <th>Cliente</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @cliente_fisicos.each do |cliente_fisico| %>
      <tr>
        <td><%= cliente_fisico.cpf %></td>
        <td><%= cliente_fisico.cliente %></td>
        <td><%= link_to 'Mostrar', cliente_fisico %></td>
        <td><%= link_to 'Editar', edit_cliente_fisico_path(cliente_fisico) %></td>
        <td><%= link_to 'Apagar', cliente_fisico, method: :delete, data: { confirm: 'Tem certeza disso?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Cliente Físico', new_cliente_fisico_path %>
