<p id="notice"><%= notice %></p>

<p>
  <strong>CPF:</strong>
  <%= @cliente_fisico.cpf %>
</p>

<p>
  <strong>Cliente:</strong>
  <%= @cliente_fisico.cliente %>
</p>

<%= link_to 'Editar', edit_cliente_fisico_path(@cliente_fisico) %> |
<%= link_to 'Voltar', cliente_fisicos_path %>
