<%= form_for(@producao) do |f| %>
  <% if @producao.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@producao.errors.count, "error") %> prohibited this producao from being saved:</h2>

      <ul>
      <% @producao.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :data %><br>
    <%= f.datetime_select :data %>
  </div>
  <div class="field">
    <%= f.label :quantidade %><br>
    <%= f.number_field :quantidade %>
  </div>
  <div class="field">
    <%= f.label :produto_id %><br>
    <%= f.number_field :produto_id %>
  </div>
  <div class="field">
    <%= f.label :materiaprima_id %><br>
    <%= f.number_field :materiaprima_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
