<h1>Produções</h1>

<table class="table">
  <thead>
    <tr>
      <th>Data</th>
      <th>Quantidade</th>
      <th>Produto</th>
      <th>Matéria-prima</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @producaos.each do |producao| %>
      <tr>
        <td><%= producao.data %></td>
        <td><%= producao.quantidade %></td>
        <td><%= producao.produto_id %></td>
        <td><%= producao.materiaprima_id %></td>
        <td><%= link_to 'Exibir', producao %></td>
        <td><%= link_to 'Editar', edit_producao_path(producao) %></td>
        <td><%= link_to 'Apagar', producao, method: :delete, data: { confirm: 'Tem certeza disso?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nova Produção', new_producao_path %>
