<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @fornecedor.nome %>
</p>

<p>
  <strong>CNPJ:</strong>
  <%= @fornecedor.cnpj %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @fornecedor.telefone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @fornecedor.email %>
</p>

<p>
  <strong>Endereco:</strong>
  <%= @fornecedor.endereco_id %>
</p>

<%= link_to 'Editar', edit_fornecedor_path(@fornecedor) %> |
<%= link_to 'Voltar', fornecedors_path %>
