<h1>Listando Compras de Produtos</h1>

<table class="table">
  <thead>
    <tr>
      <th>Data</th>
      <th>Status</th>
      <th>Pagamento</th>
      <th>Quantidade</th>
      <th>Fornecedor</th>
      <th>Produto</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @compra_produtos.each do |compra_produto| %>
      <tr>
        <td><%= compra_produto.data %></td>
        <td><%= compra_produto.status %></td>
        <td><%= compra_produto.pagamento %></td>
        <td><%= compra_produto.quantidade %></td>
        <td><%= compra_produto.fornecedor_id %></td>
        <td><%= compra_produto.produto_id %></td>
        <td><%= link_to 'Exibir', compra_produto %></td>
        <td><%= link_to 'Editar', edit_compra_produto_path(compra_produto) %></td>
        <td><%= link_to 'Apagar', compra_produto, method: :delete, data: { confirm: 'Tem certeza disso?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nova Compra de Produto', new_compra_produto_path %>
