<p id="notice"><%= notice %></p>

<p>
  <strong>Data:</strong>
  <%= @compra_produto.data %>
</p>

<p>
  <strong>Status:</strong>
  <%= @compra_produto.status %>
</p>

<p>
  <strong>Pagamento:</strong>
  <%= @compra_produto.pagamento %>
</p>

<p>
  <strong>Quantidade:</strong>
  <%= @compra_produto.quantidade %>
</p>

<p>
  <strong>Fornecedor:</strong>
  <%= @compra_produto.fornecedor_id %>
</p>

<p>
  <strong>Produto:</strong>
  <%= @compra_produto.produto_id %>
</p>

<%= link_to 'Edit', edit_compra_produto_path(@compra_produto) %> |
<%= link_to 'Back', compra_produtos_path %>
