<%= form_for(@solicitacao) do |f| %>
  <% if @solicitacao.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@solicitacao.errors.count, "error") %> prohibited this solicitacao from being saved:</h2>

      <ul>
      <% @solicitacao.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :status %><br>
    <%= f.number_field :status %>
  </div>
  <div class="field">
    <%= f.label :data %><br>
    <%= f.datetime_select :data %>
  </div>
  <div class="field">
    <%= f.label :desconto %><br>
    <%= f.text_field :desconto %>
  </div>
  <div class="field">
    <%= f.label :pagamento %><br>
    <%= f.text_field :pagamento %>
  </div>
  <div class="field">
    <%= f.label :cliente_id %><br>
    <%= f.number_field :cliente_id %>
  </div>
  <div class="field">
    <%= f.label :produto_id %><br>
    <%= f.number_field :produto_id %>
  </div>
  <div class="field">
    <%= f.label :pessoa_id %><br>
    <%= f.number_field :pessoa_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
