<h1>Solicitações</h1>

<table class="table">
  <thead>
    <tr>
      <th>Status</th>
      <th>Data</th>
      <th>Desconto</th>
      <th>Pagamento</th>
      <th>Cliente</th>
      <th>Produto</th>
      <th>Pessoa</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @solicitacaos.each do |solicitacao| %>
      <tr>
        <td><%= solicitacao.status %></td>
        <td><%= solicitacao.data %></td>
        <td><%= solicitacao.desconto %></td>
        <td><%= solicitacao.pagamento %></td>
        <td><%= solicitacao.cliente_id %></td>
        <td><%= solicitacao.produto_id %></td>
        <td><%= solicitacao.pessoa_id %></td>
        <td><%= link_to 'Exibir', solicitacao %></td>
        <td><%= link_to 'Editar', edit_solicitacao_path(solicitacao) %></td>
        <td><%= link_to 'Apagar', solicitacao, method: :delete, data: { confirm: 'Tem certeza disso?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nova Solicitação', new_solicitacao_path %>
