<h1>Listing telefone_fornecedors</h1>

<table>
  <thead>
    <tr>
      <th>Ddd</th>
      <th>Telefone</th>
      <th>Fornecedor</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @telefone_fornecedors.each do |telefone_fornecedor| %>
      <tr>
        <td><%= telefone_fornecedor.ddd %></td>
        <td><%= telefone_fornecedor.telefone %></td>
        <td><%= telefone_fornecedor.fornecedor %></td>
        <td><%= link_to 'Show', telefone_fornecedor %></td>
        <td><%= link_to 'Edit', edit_telefone_fornecedor_path(telefone_fornecedor) %></td>
        <td><%= link_to 'Destroy', telefone_fornecedor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Telefone fornecedor', new_telefone_fornecedor_path %>
