<p id="notice"><%= notice %></p>

<p>
  <strong>Ddd:</strong>
  <%= @telefone_fornecedor.ddd %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @telefone_fornecedor.telefone %>
</p>

<p>
  <strong>Fornecedor:</strong>
  <%= @telefone_fornecedor.fornecedor %>
</p>

<%= link_to 'Edit', edit_telefone_fornecedor_path(@telefone_fornecedor) %> |
<%= link_to 'Back', telefone_fornecedors_path %>
