<h1>Enereços</h1>

<table class="table">
  <thead>
    <tr>
      <th>Bairro</th>
      <th>CEP</th>
      <th>Cidade</th>
      <th>Logradouro</th>
      <th>Complemento</th>
      <th>Estado</th>
      <th>Numero</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @enderecos.each do |endereco| %>
      <tr>
        <td><%= endereco.bairro %></td>
        <td><%= endereco.cep %></td>
        <td><%= endereco.cidade %></td>
        <td><%= endereco.logradouro %></td>
        <td><%= endereco.complemento %></td>
        <td><%= endereco.estado %></td>
        <td><%= endereco.numero %></td>
        <td><%= link_to 'Exibir', endereco %></td>
        <td><%= link_to 'Editar', edit_endereco_path(endereco) %></td>
        <td><%= link_to 'Apagar', endereco, method: :delete, data: { confirm: 'Tem certeza disso?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Endereço', new_endereco_path %>
