<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @materia_prima.nome %>
</p>

<p>
  <strong>Código:</strong>
  <%= @materia_prima.codigo %>
</p>

<p>
  <strong>Descrição:</strong>
  <%= @materia_prima.descricao %>
</p>

<p>
  <strong>Quantidade:</strong>
  <%= @materia_prima.quantidade %>
</p>

<%= link_to 'Editar', edit_materia_prima_path(@materia_prima) %> |
<%= link_to 'Voltar', materia_primas_path %>
