<%= form_for(@telefone_pessoa) do |f| %>
  <% if @telefone_pessoa.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@telefone_pessoa.errors.count, "error") %> prohibited this telefone_pessoa from being saved:</h2>

      <ul>
      <% @telefone_pessoa.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :ddd %><br>
    <%= f.text_field :ddd %>
  </div>
  <div class="field">
    <%= f.label :telefone %><br>
    <%= f.text_field :telefone %>
  </div>
  <div class="field">
    <%= f.label :pessoa_id %><br>
    <%= f.text_field :pessoa_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
