<h1>Listing telefone_pessoas</h1>

<table class="table">
  <thead>
    <tr>
      <th>Ddd</th>
      <th>Telefone</th>
      <th>Pessoa</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @telefone_pessoas.each do |telefone_pessoa| %>
      <tr>
        <td><%= telefone_pessoa.ddd %></td>
        <td><%= telefone_pessoa.telefone %></td>
        <td><%= telefone_pessoa.pessoa %></td>
        <td><%= link_to 'Show', telefone_pessoa %></td>
        <td><%= link_to 'Edit', edit_telefone_pessoa_path(telefone_pessoa) %></td>
        <td><%= link_to 'Destroy', telefone_pessoa, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Telefone pessoa', new_telefone_pessoa_path %>
