<h1>Funcionários</h1>

<table class="table">
  <thead>
    <tr>
      <th>Cargo</th>
      <th>CPF</th>
      <th>Senha</th>
      <th>Pessoa</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @funcionarios.each do |funcionario| %>
      <tr>
        <td><%= funcionario.cargo %></td>
        <td><%= funcionario.cpf %></td>
        <td><%= funcionario.senha %></td>
        <td><%= funcionario.pessoa %></td>
        <td><%= link_to 'Exibir', funcionario %></td>
        <td><%= link_to 'Editar', edit_funcionario_path(funcionario) %></td>
        <td><%= link_to 'Apagar', funcionario, method: :delete, data: { confirm: 'Tem certeza disso?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Funcionário', new_funcionario_path %>
