<p id="notice"><%= notice %></p>

<p>
  <strong>Cargo:</strong>
  <%= @funcionario.cargo %>
</p>

<p>
  <strong>Cpf:</strong>
  <%= @funcionario.cpf %>
</p>

<p>
  <strong>Senha:</strong>
  <%= @funcionario.senha %>
</p>

<p>
  <strong>Pessoa:</strong>
  <%= @funcionario.pessoa %>
</p>

<%= link_to 'Edit', edit_funcionario_path(@funcionario) %> |
<%= link_to 'Back', funcionarios_path %>
