<h1>Clientes Jurídicos</h1>

<table class="table">
  <thead>
    <tr>
      <th>CNPJ</th>
      <th>Cliente</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @cliente_juridicos.each do |cliente_juridico| %>
      <tr>
        <td><%= cliente_juridico.cnpj %></td>
        <td><%= cliente_juridico.cliente %></td>
        <td><%= link_to 'Exibir', cliente_juridico %></td>
        <td><%= link_to 'Editar', edit_cliente_juridico_path(cliente_juridico) %></td>
        <td><%= link_to 'Apagar', cliente_juridico, method: :delete, data: { confirm: 'Tem certeza disso?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Cliente Jurídico', new_cliente_juridico_path %>
