<h1>Listing cliente_juridicos</h1>

<table>
  <thead>
    <tr>
      <th>Cnpj</th>
      <th>Cliente</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @cliente_juridicos.each do |cliente_juridico| %>
      <tr>
        <td><%= cliente_juridico.cnpj %></td>
        <td><%= cliente_juridico.cliente %></td>
        <td><%= link_to 'Show', cliente_juridico %></td>
        <td><%= link_to 'Edit', edit_cliente_juridico_path(cliente_juridico) %></td>
        <td><%= link_to 'Destroy', cliente_juridico, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cliente juridico', new_cliente_juridico_path %>
