<p id="notice"><%= notice %></p>

<p>
  <strong>CNPJ:</strong>
  <%= @cliente_juridico.cnpj %>
</p>

<p>
  <strong>Cliente:</strong>
  <%= @cliente_juridico.cliente %>
</p>

<%= link_to 'Editar', edit_cliente_juridico_path(@cliente_juridico) %> |
<%= link_to 'Voltar', cliente_juridicos_path %>
