<%= form_for(@compra_materia_prima) do |f| %>
  <% if @compra_materia_prima.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@compra_materia_prima.errors.count, "error") %> prohibited this compra_materia_prima from being saved:</h2>

      <ul>
      <% @compra_materia_prima.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :data %><br>
    <%= f.datetime_select :data %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.number_field :status %>
  </div>
  <div class="field">
    <%= f.label :pagamento %><br>
    <%= f.text_field :pagamento %>
  </div>
  <div class="field">
    <%= f.label :preco %><br>
    <%= f.text_field :preco %>
  </div>
  <div class="field">
    <%= f.label :quantidade %><br>
    <%= f.number_field :quantidade %>
  </div>
  <div class="field">
    <%= f.label :fornecedor_id %><br>
    <%= f.number_field :fornecedor_id %>
  </div>
  <div class="field">
    <%= f.label :materiaprima_id %><br>
    <%= f.number_field :materiaprima_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
